<settings><columnLayout>0</columnLayout><showInfoEnabled>1</showInfoEnabled><useOutputDebug>0</useOutputDebug><categoryOrder><category>Travel</category><category>Meals / Entertainment</category><category>Telecom</category><category>Office Expenses</category><category>Company Car</category><category>Professional Development</category><category>Fees / Advances</category><category>Misc</category><category>Engineer / Equipment</category></categoryOrder></settings>
